h2 {
  color: blue;
  background-color: green;
  border: 2pix green solid;
  border-radius: 8px;
  padding: 5px;
  margin: 30px;
}

h3 {
  color: rgb(251, 141, 141);
  background-color: yellow;
  border: 2px yellow solid;
  border-radius: 8px;
  padding: 5px;
  margin: 20px;
}

p {
  color: rgb(209, 179, 179);
  margin: 10px;
}

a {
  color: rgb(209, 179, 179);
  margin: 10px;
}